[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15
shadow_port = 54320

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://student-activity-hub-nextjs.vercel.app"]
jwt_expiry = 3600

[storage]
enabled = true
file_size_limit = "50MiB"

[functions]
enabled = true
